@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'Daylight Dreams';
    src: url('../fonts/DaylightDreams.otf') format('truetype');
}
/*Criando variáveis e automatizando cores e fontes*/
:root{
    --black: #000;
    --white: #FFF;
    --white-all: #F2F2F2;
    --yellow: #F6BF0C;
    --orange: #FA960D;
    --brown: #2A1E12;
    --font-logo: 'Daylight Dreams', sans-serif;
    --font-text: 'Inter', sans-serif;
}

/*Aplicando estilizações padrão gerais*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

p, ul{
    font-family: var(--font-text);
}

p{
    font-size: 1.2rem;
}

input{
    outline: none;
}

h2{
    font-family: var(--font-logo);
    text-transform: uppercase;
    font-size: 2.4rem;
    color: var(--brown);
}

body{
    background-color: var(--white-all);
}

/*Wave padrão desktop*/
header{
    width: 100%;
    height: 40vh;
    background-image: url("../img/wave-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.logo-buguela{
    width: 60px;
}

button{
    font-family: var(--font-text);
}

/*Wave para mobile*/
@media screen and (max-width: 768px){
    .storefront-two{
        flex-direction: column!important;
    }

    .storefront-column{
        width: 100%!important;
    }

    .storefront-60{
        width: 97%!important;
    }

    .items p {
        padding-top: 0.5rem!important;
        width: 80%!important;
    }
}

@media screen and (max-width: 888px){
    .aboutus img{
        margin-top: 5rem;
        margin-bottom: 3rem;
        width: 60%!important;
    }

}

@media screen and (max-width: 991px){
    .nav-link{
        background-color: var(--yellow);
        width: 30%;
        border-radius: 10px;
        padding-left: 1rem!important;
        margin-top: 0.5rem;
    }

    .container-links{
        display: none;
    }

    #on-the-rise h3{
        padding-left: 5%!important;
    }

    .text-center{
        width: 95%!important;
    }

    .storefront-80{
        width: 60%!important;
    }

    .storefront-20{
        width: 40%!important;
    }

    #box-storefront{
        padding: 0px!important;
    }

    .contact-section {
        padding: 6% 0;
    }

    .contact-container {
        width: 75%;
    }

    .contact-icon {
        width: 45%;
        padding: 5%;
        margin-right: 20px;
    }

    .input-container {
        width: 100%;
    }

    .contact-desc {
        height: 25vw;
    }

    .owl-carousel{
        padding-left: 5%!important;
        padding-right: 5%!important;
    }
}

@media screen and (max-width: 568px){
    header{
        background-image: url("../img/wave-mobile.svg");
    }

    .storefront-one{
        flex-direction: column!important;
        align-items: center;
    }

    .storefront-80{
        width: 97%!important;
    }

    .storefront-20{
        width: 97%!important;
    }

    #information-the-rise{
        flex-direction: column;
    }

    .text-information{
        width: 95%!important;
    }

    #chatbot{
        width: 90%!important;
    }

    #others-products{
        width: 90%!important;
    }

    .product{
        width: 90%!important;
    }

    .all-products{
        width: 90%!important;
    }
}

@media screen and (max-width: 490px){
    #section-top, #section-bottom{
        align-items: center!important;
        flex-direction: column!important;
    }

    .items{
        width: 100%!important;
    }
}

/*Footer*/
footer{
    width: 100%;
}

.logo-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-logo);
    text-transform: uppercase;
    color: var(--brown);
}

.itens-footer, .links-footer ul{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
}

.links-footer ul li{
    list-style-type: none;
}

.links-footer ul li a{
    color: #2A1E12;
}

.circle img{
    width: 35px;
}

.circle{
    background-color: var(--yellow);
    padding: 1rem;
    border-radius: 50%;
}


/*Página de Vitrine*/
#box-storefront{
    padding: 15rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.text-storefront{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.storefront-image{
    border: 3px solid var(--brown);
    border-radius: 25px;
    margin: 1%;
    height: 30vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.storefront-20{
    width: 20%;
}

.storefront-50{
    width: 55%;
}

.storefront-60{
    width: 40%;
    height: 63vh;
}

.storefront-80{
    width: 80%;
}

#product-1{
    background-image: url("../img/produto-4.jpg");
}

#product-2{
    background-image: url("../img/produto-8.jpg");
}

#product-3{
    background-image: url("../img/produto-5.jpg");
}

#product-4{
    background-image: url("../img/produto-1.jpg");
}

#product-5{
    background-image: url("../img/produto-3.jpg");
}

#product-6{
    background-image: url("../img/produto-6.jpg");
}

#product-7{
    background-image: url("../img/produto-7.jpg");
}

.storefront-100{
    width: 98%;
}

.storefront-95{
    width: 97%;

}

.storefront-one{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.storefront-two{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.storefront-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.storefront-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: end;
}

/* Sobre nós */
#box-aboutus {
    margin-top: -90px!important;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 5%; 
}

.aboutus img{
    width: 80%;
}

.aboutus {
    max-width: 400px;
}

.aboutus h3 {
    font-size: 2.5rem;
    font-weight: 600;
}

.aboutus p {
    margin-top: 20px;
}

#btn-aboutus {
    background-color: var(--yellow);
    width: 165px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    font-weight: 500;
}

#btn-aboutus:hover {
    background-color: #d9aa11;
    transition: 1s;
}

/* Contate-nos */
.contact-section {
    background: url('../img/Buguela-contact-bg.svg') no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    margin: 0 auto;
}

.form-container {
    width: 100%;
}

.form-contact {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 20px;
}

.contact-icon {
    text-align: center;
    width: 14%;
    padding: 1.5%;
    border-radius: 50%;
    background-color: var(--white-all);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.contact-icon img {
    max-width: 100%;
    max-height: 100%;
}

.input-container {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    width: 50%;
}

.form-group2 {
    margin-top: 15px;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.contact-desc {
    height: 30vh;
}

#contact-submit {
    background-color: var(--brown);
    color: var(--yellow);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-end;
}


/*Novidades da Loja*/
#news-store{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#news-store {
    font-family: var(--font-text);
    color: #2A1E12;
    padding-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
}

.carousel-inner{
    border-radius: 10px;
}

.custom-img-size {
    max-width: 600px;
    height: auto;
}

.carousel-control-prev, .carousel-control-next {
    background-color: #F6BF0C;
    width: auto;
    font-size: 16px;
    border-radius: 5px;
}

.text-center{
    margin-top: 3rem;
    width: 60%;
    font-weight: 300;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
}

.carousel-item img {
    width: 100%;
}

.hr-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr-center hr{
    width: 80%;
    border-color: #2A1E12;
    border-radius: 5px;
}

/*Em alta*/

#on-the-rise h3{
    padding: 1.5rem;
    padding-left: 15%;
}

.sections-buguela{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
}

#section-top, #section-bottom{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.item-section{
    width: 120px;
}

.items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 2rem;
    width: 50%;
}

.items p{
    padding-top: 0.5rem;
    width: 50%;
}

.items h4{
    font-family: var(--font-text);
    padding-top: 2rem;
}

#information-the-rise{
    margin-top: 2rem;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-information{
    width: 60%;
}

#btn-information{
    background-color: var(--yellow);
    width: 165px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    font-weight: 500;
}

#icon-chat{
    width: 60px;
    margin: 1.5rem;
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;

}

/*Chatbot*/
#chatbot{
    width: 420px;
    background-color: var(--white-all);
    position: fixed;
    bottom: 0;
    margin-bottom: 6rem;
    margin-right: 1rem;
    border-radius: 5px;
    box-shadow: 1px 0px 6px #0000003f;
    padding: 1.5rem;
    z-index: 999;
    font-size: 0.8rem;
    display: none;
}

#chatbot button{
    background-color: #FA960D;
    color: var(--white);
    font-family: var(--font-text);
    border-radius: 4px;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    transition: 500ms;
    outline: none;
    font-style: italic;
}

#chatbot button:hover{
    background-color: #fdab39;
    transition: 500ms;
}

.choose-option{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.flex-row{
    display: flex;
    justify-content: start;
    gap: 1.5rem;
    align-items: center;
}

#text-chatbot{
    padding-top: 1rem;
}

#chat-ana{
    width: 60px;
}

#flex-chat{
    display: flex;
    justify-content: end;
}

/*Outros produtos*/
#others-products{
    margin-top: 10rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 750px;
    box-shadow: 3px 2px 6px #0000006c;
    z-index: 888;
    overflow-y: scroll;
    display: none;
}

#click-product, #close{
    cursor: pointer;
}

#top-others{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    color: var(--brown);
}

#all-products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 5%;
}

.product-name{
    font-weight: 600;
    padding-top: 1rem;
    font-size: 1rem;

}

.product{
    margin-top: 1rem;
    width: 230px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 1rem;
}

.all-products{
    width: 150px;
    height: 150px;
    border-radius: 8px;

}

/*Owl carousel estilização*/
.owl-carousel .owl-item img{
    border-radius: 15px;
}

.owl-carousel{
    padding-left: 15%;
    padding-right: 15%;
}

/*Scroll padrão*/
::-webkit-scrollbar {
    display: none;
}

/* Estilos para mobile */
#others-products {
    overflow-y: auto; /* Habilita o scroll vertical apenas quando necessário */
    -webkit-overflow-scrolling: touch; 
}

/* Estilize o indicador de scroll */
#others-products::-webkit-scrollbar {
    width: 6px; /* Largura do indicador */
}

#others-products::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Cor do indicador */
    border-radius: 3px; /* Arredondamento dos cantos do indicador */
}
